<form [formGroup]="changeWndwLblPreview">
 
  <div class="c-form-wrap">
    <div class="c-form-field half">
      <mat-form-field>
        <input matInput autocomplete="off" placeholder="Report Description *" formControlName="description">
      </mat-form-field>
    </div>
  </div>

  <div class="c-form-wrap">
    <div class="c-form-field">
      <mat-radio-group formControlName="status">
        <mat-radio-button value="WIP" checked>Current</mat-radio-button>
        <mat-radio-button value="PUB">Published Date as of *</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="c-form-field offset-half">
      <mat-form-field>
        <input matInput [matDatepicker]="publishDatepicker" placeholder="Published Date" formControlName="publishDate" (focus)="publishDatepicker.open()">
        <mat-datepicker-toggle matSuffix [for]="publishDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #publishDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <mvp-vehicle-line-form [reportRef]="_fr" [form]="changeWndwLblPreview"></mvp-vehicle-line-form>

  <div class="c-form-wrap">
    <div class="c-form-field">
        <label>Merchandise Model Code</label>
        <p-multiSelect [options]="_fr.modelCodeArray"  formControlName="mmcCode" [filter]="false"></p-multiSelect>
    </div>

    <div class="c-form-field">
      <label>Model Restriction String</label>
      <p-dropdown [options]="_fr.restrictionStringArray" formControlName="modelRestrictionString" placeholder="Choose"
                  [autoWidth]="false"></p-dropdown>
    </div>
  </div>
</form>
