<form [formGroup]="MoPkgRpt">
    <span class="run-in-background-note">
        <mat-icon>info</mat-icon> Due to performance considerations, it is recommended to run this report in Background. See sidebar menu for selection.
    </span>
    <div class="c-form-wrap">
      <div class="c-form-field half">
        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Report Description *" formControlName="description">
        </mat-form-field>
      </div>
    </div>
    <mvp-vehicle-line-form [reportRef]="_mkt" [form]="MoPkgRpt"></mvp-vehicle-line-form>
    <div class="c-form-wrap">
      <div class="c-form-field">
        <label>Market Offer Status *</label>
        <p-dropdown [options]="_mkt.marketOfferStatusArray" formControlName="marketOfferStatus" placeholder="Choose"
                    [autoWidth]="false"></p-dropdown>
      </div>
      <div class="c-form-field">
        <label>Effective Date *</label>
        <p-dropdown [options]="_mkt.effectiveDateArray" formControlName="effectiveDate" placeholder="Choose"
                    [autoWidth]="false"></p-dropdown>
      </div>
      <div class="c-form-field">
        <label>Option Description Type *</label>
        <p-dropdown [options]="_mkt.descriptionTypeArray" formControlName="optionDescriptionType" placeholder="Choose"
                    [autoWidth]="false"></p-dropdown>
      </div>
      <div class="c-form-field">
        <label>Option Language *</label>
        <p-dropdown [options]="_mkt.languageListArray" formControlName="optionLanguage" placeholder="Choose"
                    [autoWidth]="false"></p-dropdown>
      </div>
    </div>
    <div class="c-form-wrap">
      <div class="c-form-field offset-three-quarters">
        <mat-checkbox class="margin-bottom"  formControlName="groupFlag">Group
        </mat-checkbox>
        <label>Group By *</label>
        <p-dropdown [options]="_mkt.groupByArray" formControlName="element" placeholder="Choose"
                    [autoWidth]="false"></p-dropdown>
      </div>
    </div>
  </form>
