.schedule-actions {
  float: right;
  margin-bottom: 2%;
  }

  .table-header-label {
    padding-left: 5%;
  }

.table-scroll-box {
  max-height: auto;
}

.page-title {
  margin-top: 0;
  margin-bottom: 0;
}
